<header>
  <div class="container_12">
    <div class="grid_12">
      <a href="index.html"><img src="/img2" alt=""></a> 
      <div class="menu_block">
        <nav>
          <ul class="sf-menu">
            <li><a href="/">Home</a></li>
                      
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</header>
<div class="page1_block nb">
  <div class="container_12">
    <div class="grid_10">
      <h2>Your Saved Pets</h2>
      <div class="row" id="favCards">
        {{#each animal}}
          <div class="col s6 m6">
                    <div class="card">
                        <div class="card-image">
                            <img id="img${i}" src="{{this.image}}" alt="pet">
                        </div>
                        <div class="card-content">
                            <p id="dist${i}">{{this.name}}    Miles away</p>
                            
                        </div>
                        <div class="card-action">
                             <a id= "url${i}" href="{{this.url}}">More info</a>
                        </div>
                    </div>
                </div>
          {{/each}}
    </div>
    </div>
</div>